@import "tailwindcss";

body {
  background: #000;
  font-family: sans-serif;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  height: 8px;
  background: #000;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #000;
}